## Условие 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [9]:
def fruits_count(**kwargs):
    return sum([value for value in kwargs.values()])

fruits_count(apples=3, oranges=4, bananas=5)

12

## Условие 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [45]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [46]:
corrected_costs = [value for value in costs if value>0]

In [47]:
sum(corrected_costs)

1425

## Условие 4

Даны два списка.

Дата покупки:

In [56]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
         '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
         '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
         '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
         '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
         '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

In [50]:
purchase_amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [51]:
enumerated_purchase_dates = enumerate(purchase_dates)

In [52]:
november_indexes = [index for (index,date) in enumerated_purchase_dates if date.split('-')[1]=='11']

In [53]:
sum([purchase_amounts[i] for i in november_indexes])

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [67]:
def monthly_revenues(dates: list, amounts: list) -> dict:
    monthly_revenues = dict()
    enum_dates = enumerate(dates)
    for (i,date) in enum_dates:
        month = date.split('-')[1]
        if month in monthly_revenues:
            monthly_revenues[month] += amounts[i]
        else:
            monthly_revenues[month] = amounts[i]
    return monthly_revenues

In [69]:
monthly_revenues(purchase_dates, purchase_amounts)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}